<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="spring.guru.udemy.petclinic.model.Owner"*/-->
<h1 th:text="'List of Pet Owners'">Owner's List</h1>

    <table>
        <thead>
            <tr>Id |</tr>
            <tr>First Name | </tr>
            <tr>Last Name</tr>
        </thead>
        <tbody>
        <tr th:each="owner:${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Joe</td>
            <td th:text="${owner?.lastName}">Black</td>
        </tr>
        </tbody>
    </table>
</body>
</html>